<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">

  <title>AmazonRelay</title>
</head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />

<body>
  <div class="container-fuild p-4" id="app">
    <div v-if="token != null">


      <div class="row">
        <div class="col-md-2 p-0">

          <div class="card">
            <div class="card-body p-1">
              <label class="head-label">Arama adı 📂</label>
              <input type="text" v-model="queueTmp.name" class=" m-0 form-control form-control-sm">
              <label class="head-label m-0">Arama filtresi </label>
              <select @change="onChange($event)" v-model="queueTmp.url" class="form-control form-control-sm m-0">
                <option selected value="null">Choose...</option>
                <option v-bind:value="item" v-for="item in sa">{{item.searchFilterName}}</option>
              </select>

              <label class="head-label m-0">Arama saniye aralığı (MS) ⏱</label>
              <p class="text-muted m-0">Burda milisaniye cinsinden olduğundan test önerisi en az 100 olması</p>
              <input type="text" v-model="queueTmp.timer" class="form-control form-control-sm" placeholder="10,20,50">
              <label class="head-label">Arama saat ve dakkası örn : 09:05 ⌚</label>
              <input type="datetime-local" v-model="queueTmp.time" class="form-control form-control-sm">
              <p class="text-muted m-0">Amazon saati cinsinden 0 konumuna göre zaman dilimi girin</p>

              <div class="card m-0 p-0" v-for="(route, index) in queueTmp.route" v-bind:key="index">
                <div class="form-row" v-for="(point, indexx) in route.point" v-bind:key="indexx">
                  <div class="col-5 p-1">
                    <input type="text" v-model="point.start" class="form-control form-control-sm" placeholder="start">
                  </div>
                  <div class="col-5 p-1">
                    <input type="text" v-model="point.stop" class="form-control form-control-sm" placeholder="end">
                  </div>
                  <div class="col-2 p-1">
                    <a class="btn btn-sm btn-danger text-white" v-on:click="removePoint(indexx,index)">x</a>
                  </div>
                </div>
                <div class="card-body p-1">
                  <a class="btn btn-warning btn-sm text-white" v-on:click="addPoint(index)">Durak ekle 📍</a>
                  <a class="btn btn-danger btn-sm text-white" v-on:click="removeRota(index)">Rota sil</a>
                </div>
              </div>


            </div>

            <a class="btn btn-primary btn-sm text-white" v-on:click="addRoute()">Rota ekle 📍</a>
            <a class="btn btn-success btn-sm text-white" v-on:click="addQueue()">İşlemi Ekle 🔌</a>
          </div>
          <div class="card">
            <div class="card-body p-1">
              <ul class="list-group list-group-flush">
                <li class="list-group-item p-0">
                  Bildirim 📢
                  <label class="switch ">
                    <input v-model="notfy" type="checkbox" class="success">
                    <span class="slider round"></span>
                  </label>
                </li>
                <li class="list-group-item  p-0">
                  Otomatik tut 🧲
                  <label class="switch ">
                    <input v-model="autoBook" type="checkbox" class="success">
                    <span class="slider round"></span>
                  </label>
                </li>
                <li class="list-group-item  p-0">
                  Motor ⚙
                  <label class="switch ">
                    <input v-model="queueRun" type="checkbox" class="success">
                    <span class="slider round"></span>
                  </label>
                </li>
              </ul>
            </div>
          </div>
          <hr class="m-0">
          <a class="btn btn-danger btn-block btn-sm text-white m-0 mb-1" href="">♻ Yenile</a>
          <a class="btn btn-warning btn-block btn-sm text-white m-0 mb-1" v-on:click="fresh()">🧹 Listeyi Boşalt</a>
          <a class="btn btn-warning btn-block btn-sm text-white m-0 mb-1" v-on:click="clearStore()">🧹 Hafızayı Boşalt</a>
          <a class="btn btn-info btn-block btn-sm text-white m-0 mb-1" v-on:click="errorOpen = !errorOpen">Hata incele</a>

        </div>
        <div class="col-md-3 p-0">

          <div class="card " v-for="(item,index) in queue">
            <div class="card-body p-1">
              <h6 class="card-title m-0">{{item.name != null ? item.name : index+' Nolu arama'}}
                <span class="badge badge-success float-right">
                  {{item.finded}}
                  <i class="fas fa-cog fa-spin" v-if="item.run"></i>
                  <i class="fas fa-cog " v-if="!item.run"></i>
                </span>
              </h6>
              <hr class="m-0">
              <p class="m-0 p-0 text-muted">{{item.time}} ⏱</p>
              <hr class="m-0">
              <div v-for="(route,index) in item.route">
                <p class="card-text m-0" v-for="point in route.point">
                  <span class="badge badge-primary">📍{{point.start}} <i class="fas fa-arrow-right"></i></span><span class="badge badge-secondary">{{point.stop}}🚦</span>
                </p>
                <hr class="m-1">
              </div>

              <a class="text-white btn btn-warning btn-sm btn-block" v-if="item.run" v-on:click="stopQueue(index)">Durdur <span class="badge badge-light">{{item.tick}} ⌛</span>
                <a class="text-white btn btn-success btn-sm btn-block" v-if="!item.run" v-on:click="stopQueue(index)">Çalıştır <span class="badge badge-light">{{item.tick}} ⌛</span>

                </a>
                <a v-on:click="removeQueue(index)" class="text-muted">İptal | </a>
                <a v-on:click="editQueue(index)" class="text-muted">düzenle</a>
            </div>
          </div>
        </div>
        <div class="col-md-6 p-0">
          <div class="list-group" v-for="find in finded">
            <div class="list-group-item list-group-item-action ">
              <p class="mb-1 p-1">
                ⏱ <span class="badge badge-info">{{find.firstPickupTime }}</span>
                📍 <span class="badge badge-primary">{{find.stopCount}} durak</span>
                🚚 <span class="badge badge-warning">{{find.totalDistance.value}} {{find.totalDistance.unit}}</span>
                💵 <span class="badge badge-success">{{find.payout.value}} {{find.payout.unit}} </span>
              </p>
              <p class="card-text m-0">
                <span v-for="loads in find.loads">
                  <span class="badge badge-primary" v-for="point in loads.stops"> 🚚{{point.locationCode}}📍</span>
                </span>
              </p>
            </div>
          </div>




        </div>


      </div>
      <div class="row" v-if="errorOpen">
        <div class="col-md-12">
          <div class="alert alert-danger">
            <json-tree id="hata" :data="modalError" :level="8"></json-tree>
          </div>
        </div>
      </div>
    </div>
    <div v-if="token == null">
      <p>Lütfen ana uygulamayı yenileyin ctrl+f5 veya cmd+r veya f5</p>
    </div>

  </div>
  <!-- Button trigger modal -->



  <!-- You can also require other files to run in this process -->
</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.15/lodash.min.js" integrity="sha256-VeNaFBVDhoX3H+gJ37DpT/nTuZTdjYro9yBruHjVmoQ=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js" integrity="sha256-3blsJd4Hli/7wCQ+bmgXfOdK7p/ZUMtPXY08jmxSSgk=" crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://unpkg.com/vue-json-tree@0.4.1/dist/json-tree.js"></script>
<script src="https://unpkg.com/moment"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="app.js"></script>


<style>
  .btn-sm {
    padding: 1px;
    font-size: 12px;
  }

  .head-label {
    padding: 0px;
    font-size: 10px;
    margin: 0px;
  }

  /* The switch - the box around the slider */
  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 10px;
    float: right;
    margin: 6px 0;
  }

  /* Hide default HTML checkbox */
  .switch input {
    display: none;
  }

  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 7px;
    width: 7px;
    left: 4px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input.success:checked+.slider:before {
    left: 24px;
  }

  input.default:checked+.slider {
    background-color: #444;
  }

  input.primary:checked+.slider {
    background-color: #2196F3;
  }

  input.success:checked+.slider {
    background-color: #8bc34a;
  }

  input.info:checked+.slider {
    background-color: #3de0f5;
  }

  input.warning:checked+.slider {
    background-color: #FFC107;
  }

  input.danger:checked+.slider {
    background-color: #f44336;
  }

  input:focus+.slider {
    box-shadow: 0 0 1px #2196F3;
  }

  input:checked+.slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }

  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }

  .slider.round:before {
    border-radius: 50%;
  }

  .text-muted {
    font-size: 8px;
  }

  .form-control-sm {
    padding: 1px;
  }
</style>

</html>